{{ define "head" }}

<title>{{ .Post.Title }}</title>

{{ end }} {{ define "content" }}

<div
  class="flex h-full w-full items-center flex-col dark:bg-slate-800 dark:text-slate-50 p-4"
>
  <article class="max-w-2xl flex flex-col flex-wrap mx-2 text-justify w-full">
    <header class="text-3xl mt-20">{{ .Post.Title }}</header>
    <h3 class="mt-2">{{ .Post.Date }} · {{ .Post.Words }} words</h3>
    <hr class="border-t-1 border-gray-800 dark:border-slate-50 my-6" />

    {{ if .Post.Mathjax }}
    <script>
      MathJax = {
        tex: {
          inlineMath: [
            ["$", "$"],
            ["\\(", "\\)"],
          ],
        },
        svg: {
          fontCache: "global",
        },
      };
    </script>
    <script
      type="text/javascript"
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"
    ></script>
    {{ end }}
    <div class="w-full">{{ block "post" .}}{{ end }}</div>
  </article>

  <script
    src="https://utteranc.es/client.js"
    repo="markbeep/markbeep.github.io"
    issue-term="pathname"
    label="comments"
    theme="dark-blue"
    crossorigin="anonymous"
    async
  ></script>

  {{ template "navbar" .}}
</div>
{{ end }}
