@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    header {
      @apply text-4xl;
      @apply mt-10;
      @apply mb-8;
      @apply text-slate-400;
    }
    h1 {
      @apply text-3xl;
      @apply mt-10;
      @apply mb-8;
      @apply text-slate-400;
    }
    h2 {
      @apply text-2xl;
      @apply mt-8;
      @apply mb-6;
      @apply text-slate-400;
    }
    h3 {
      @apply text-xl;
      @apply mt-6;
      @apply mb-4;
      @apply text-slate-400;
    }
    h4 {
      @apply text-lg;
      @apply mt-4;
      @apply mb-2;
      @apply text-slate-400;
    }
    p {
      @apply my-1;
    }
    hr {
      @apply w-1/2;
      @apply my-4;
    }
    ul {
      @apply list-disc;
      @apply ml-4;
    }
    ol {
      @apply list-decimal;
      @apply ml-4;
      @apply my-2;
    }
    a {
      @apply underline;
      @apply underline-offset-2;
      @apply dark:text-slate-400;
      @apply hover:dark:text-slate-500;
      @apply hover:text-slate-500;
      @apply transition;
      @apply duration-300;
    }
    img {
      @apply mx-auto;
      @apply my-4;
    }

    @font-face {
      font-family: "Gothic";
      src: url("/static/DidactGothic-Regular-subset.ttf");
    }
}

* {
  @apply font-gothic;
}

body {
  @apply bg-slate-800;
}

code, code span {
  @apply font-mono;
}

/* Inline code */
code:not(pre > code) {
  @apply bg-gray-950;
  @apply py-0.5;
  @apply px-1;
  @apply rounded-md;
  @apply border-slate-400 border;
}

mjx-container {
  display: inline-block;
}
