<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/main.css" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/preload.js"></script>
    <script
      defer
      data-domain="markc.su"
      src="https://plausible.markc.su/js/script.js"
    ></script>
    {{ block "head" .}}
    <title>Hello, I'm Mark</title>
    <meta name="description" content="Mark's coding blog" />
    {{ end }}
    <meta name="og:site_name" content="Mark's Blog" />
    <meta name="og:type" content="blog" />
    <meta name="og:image" content="/static/tn.png" />
    <meta name="og:twitter" content="/static/tn.png" />
  </head>
  <body class="dark" hx-ext="preload">
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    {{ block "content" .}}{{ end }}
  </body>
</html>
