{{ define "content" }}

<div class="h-screen w-screen overflow-hidden absolute">
  <video
    class="top-0 left-0 w-full h-full object-cover"
    autoplay
    muted
    preload="mouseover"
    loop
    playsinline
  >
    <source src="/static/fog.mp4" type="video/mp4" poster="/static/fog.png" />
  </video>
</div>
<div
  class="h-screen w-screen dark:bg-slate-800/40 dark:text-slate-50 z-10 relative"
>
  <div class="flex justify-center items-center h-full -z-20">
    <main class="text-left flex flex-col text-6xl space-y-12 underline">
      <a
        class="dark:text-slate-50"
        href="/posts"
        hx-swap="innerHTML"
        hx-get="/posts"
        hx-target="body"
        hx-push-url="true"
        preload="mouseover"
        >posts</a
      >
      <a class="dark:text-slate-50" href="https://github.com/markbeep"
        >github</a
      >
      <a
        class="dark:text-slate-50"
        href="/polyring"
        hx-swap="innerHTML"
        hx-get="/polyring"
        hx-target="body"
        hx-push-url="true"
        preload="mouseover"
        >polyring</a
      >
      <a
        class="dark:text-slate-50"
        href="/about"
        hx-swap="innerHTML"
        hx-get="/about"
        hx-target="body"
        hx-push-url="true"
        preload="mouseover"
        >who is mark?</a
      >
    </main>
  </div>
</div>

{{ end }}
